* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  color: #ededed;
  background: #f8f8f8;
  /* background: url(bg.jpg); */
  background-size: cover;
  height: 100vh;
  background-position: center;
  /* align-items: flex-end; */
}

header {
  align-items: flex-start;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-sizing: 0 0 10px #000;
  background: rgba(0, 0, 0, 0.5);
}

.logo img {
  height: 80px;
  width: 99px;
}

#chk1 {
  display: none;
}

i {
  color: #fff;
  cursor: pointer;
}

header .logo {
  flex: 1;
  color: #fff;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

header ul li {
  list-style: none;

}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

header ul li a:hover {
  border-bottom: 2px solid rgb(95, 149, 160);
}

header .menu {
  font-size: 2.5rem;
  display: none;

}

@media(max-width:1000px) {
  .search-box button {
    position: absolute;
  }


  ul {
    margin: 369;
    padding: 369;
    line-height: 60px;
  }



  header ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(18, 18, 18, 0.5);
    height: calc(100vh _ 100px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: right 0.6s linear;

  }

  header .menu {
    display: block;
    width: 100px;
    text-align: center;
  }

  #chk1:checked~ul {
    right: 0;
  }
}

@media(max-width:600px) {
  header .logo {
    font-size: 10px;
    margin-left: 8px;
  }

  header ul {
    width: 100%;
  }
}


#aboutt {
  background: #f2f4ff;
  padding: 7% 0;
  background: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


.ngo-section-1 {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: url(bg.jpg); */

  /* border: 2px solid red; */
  height: 900px;
  width: 100%;
  /* background-image: url(./ngo\ group\ pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

main::before {
  content: "";
  /* background-color:#3498db ; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 75%;
}

.welcome {
  font-size: 90px;
  font-weight: 700;
  color: rgb(115, 181, 75);
  text-shadow: 3px 3px 3px black;
  margin-bottom: 5px;
  text-decoration: underline 6PX;
}

.welcome-ngo {
  font-size: 40px;
  font-weight: 550;
  color: rgb(119, 119, 241);
  text-shadow: 1px 1px 1px black;

  margin-bottom: 5px;

}

h4 {

  font-size: 30px;
  font-weight: 5000;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 30px;

}

.a1 {
  background-color: rgb(13, 170, 68);
  border-radius: 9px;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.ngo-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* footer */






#ftr {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 26vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}